name: Terraform Plan

on:
  push:
    branches: ["main"]

jobs:
  terraform:
    runs-on: ubuntu-latest

    permissions:
      id-token: write # required for OIDC
      contents: read

    env:
      AWS_ACCOUNT_ID: ${{ vars.AWS_ACCOUNT_ID }}
      AWS_REGION: ${{ vars.AWS_REGION }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Assert required variables exist
        run: |
          : "${AWS_ACCOUNT_ID:?Missing GitHub repository variable AWS_ACCOUNT_ID}"
          : "${AWS_REGION:?Missing GitHub repository variable AWS_REGION}"
          echo "Using Account: $AWS_ACCOUNT_ID Region: $AWS_REGION"

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/OIDC
          role-session-name: gha-terraform-plan
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Format Check
        run: terraform fmt -check

      - name: Terraform Init
        run: terraform init -input=false

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -no-color
